{{#partial "contenido"}}

<h1 style="text-align: center" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"> Nueva Operacion de Egreso </h1>

<form id="formulario" action="/operaciones/new" method="post">

    <p> <br> Documento Comercial </p>
    <select class="form-control form-control" id="sel-documento" name="doc-comercial" required>
        <option disabled value="" hidden selected>Seleccione un documento </option>

            {{#each documentos}}
            <option value={{ nombre }}> {{ nombre }} </option>
            {{/each}}

    </select>

    <p> <br> Número Documento Comercial</p>
    <input type="number" min="0" name="num-documento" placeholder="Numero Documento" required>


    <p> <br> Proveedor </p>
    <select class="form-control form-control" id="sel-proveedor" name="proveedor" required>
        <option disabled value="" hidden selected>Seleccione un proveedor </option>

            {{#each proveedores}}
            <option value={{ id }}> {{ nombreYApellido }} {{ razonSocial }} </option>
            {{/each}}

    </select>

    <p> <br> Fecha </p>
    <input type="date" id="input-fecha" name="fecha" required>

    <p> <br> Medio de Pago </p>
    <select class="form-control form-control" id="sel-medio-pago" name="medio-pago" required>
        <option disabled value="" hidden selected>Seleccione un medio de pago </option>

            {{#each mediosPago}}
            <option value={{ nombre }}>{{ nombre }}</option>
            {{/each}}
    </select>

    <p> <br> Número medio de pago </p>
    <input type="number" min="0" name="num-medio-de-pago" placeholder="Numero medio de pago">

    <p> <br> Organizacion </p>
    <select class="form-control form-control" id="sel-organizacion" name="organizacion" required>
        <option disabled value="" hidden selected>Seleccione una Organizacion </option>

            {{#each organizaciones}}
            <option value={{ id }}>{{ nombre }}</option>
            {{/each}}
    </select>

    <p> <br> Entidad </p>
    <select class="form-control form-control" id="sel-entidad" name="entidad" required>
        <option disabled value="" hidden selected>Seleccione una Entidad </option>

            {{#each entidades}}
            <option value={{ id }}>{{ nombreFicticio }}</option>
            {{/each}}
    </select>

    <p> <br> Criterio de seleccion </p>
    <select class="form-control form-control" id="sel-criterio" name="criterio-seleccion" required>
        <option disabled value="" hidden selected>Seleccione un criterio </option>

            {{#each criterios}}
            <option value={{ nombre }}>{{ nombre }}</option>
            {{/each}}
    </select>

    <br><br>
    <div id="etiquetas">

        <br>
        <p> Ingrese las etiquetas que desea asignar a la operacion </p>
        <input type="text" name="nuevaCategoria" id="nuevaCategoria" placeholder="Nueva categoria..." v-model="nombreCategoria">
        <button v-on:click="agregarCategoria" type="button" class="btn btn-primary"> Agregar </button>

        <div class="row" v-for="item in lista">
            <div class="col-md-2 mt-3">
                <div class="alert alert-success alert-dismissible">
                    <strong v-text="item"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span v-on:click="quitarCategoria(item)">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>

    <p> <br> Número de presupuestos a utilizar </p>
    <input type="number" min="0" name="num-presupuestos" placeholder="Numero de presupuestos">

    <div id="presupuestos">

        <br>
        <p> Elija los presupuestos que desea asignar </p>
        <select name="nuevoPresupuesto" id="nuevoPresupuesto" v-model="nombrePresupuesto">
            <option value="0">Seleccione un Presupuesto </option>

            {{#each presupuestos}}
                <option value={{ id }}>Presupuesto de {{ proveedor.nombreYApellido }} - {{ fecha }}</option>
            {{/each}}

        </select>
        <button v-on:click="agregarPresupuesto" type="button" class="btn btn-primary"> Agregar </button>

        <div class="row" v-for="item in lista">
            <div class="col-md-2 mt-3">
                <div class="alert alert-success alert-dismissible">
                    <strong v-text="item"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span v-on:click="quitarPresupuesto(item)">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <p> <br> Presupuesto a Utilizar </p>
    <select class="form-control form-control" id="presupuesto-elegido" name="presupuesto-elegido" required>
        <option disabled value="" hidden selected>Seleccione un presupuesto </option>

        {{#each presupuestos}}
            <option value={{ id }}>Presupuesto de {{ proveedor.nombreYApellido }} - {{ fecha }}</option>
        {{/each}}
    </select>
    <br>
    <hr>


    <div id="items">
        <br>
        <p> Elija los items que desea asignar </p>
        <select name="nuevoItem" id="nuevoItem" v-model="nombreItem">
            <option value="0">Seleccione un Item </option>

            {{#each items}}
                <option value={{ id }}>{{ descripcion }}</option>
            {{/each}}

        </select>
        <button v-on:click="agregarItem" type="button" class="btn btn-primary"> Agregar </button>

        <div class="row" v-for="item in lista">
            <div class="col-md-2 mt-3">
                <div class="alert alert-success alert-dismissible">
                    <strong v-text="item"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span v-on:click="quitarItem(item)">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <button type="submit" class="btn btn-primary">Cargar</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/categoria.js"></script>

{{/partial}}

{{>layout.hbs}}