{{#partial "contenido"}}

    <h1> Nueva Entidad Juridica </h1>

    <form action="carga_entidad_juridica" method="post">

        <p> <br> Nombre Ficticio </p>
        <input type="text" name="nombre_ficticio" placeholder="Nombre Ficticio" class="entradas" required>

        <p> <br> Categoria </p>
        <select class="form-control form-control" id="sel-categoria" name="categoria" required> <!-- onchange="this.form.submit()" para que filtre sin boton -->

            <option disabled value="" hidden selected> seleccione una categoria </option>

            {{#each categorias}}
                <option value={{ id }}>{{ nombre }}</option>
            {{/each}}
        </select>

        <p> <br> Razon Social </p>
        <input type="text" name="razon_social" placeholder="Razon Social" class="entradas" required>

        <p> <br> CUIT </p>
        <input type="number" min="0" name="cuit" placeholder="CUIT" class="entradas" required>

        <p> <br> Direccion Postal </p>
        <input type="text" name="direccion_postal" placeholder="Direccion Postal" class="entradas" required>

        <p> <br> Codigo de Inscripcion IGJ </p>
        <input type="number" min="0" name="codigo_inscripcion" placeholder="Codigo IGJ" class="entradas" required>

        <p> <br> Organizacion </p>
        <select class="form-control form-control" id="sel-organizacion" name="organizacion" required>
            <option disabled value="" hidden selected> Seleccione una Organizacion </option>

            {{#each organizaciones}}
                <option value={{ id }}>{{ nombre }}</option>
            {{/each}}
        </select>

        <p> <br> Tipo de Entidad Juridica </p>
        <select class="form-control form-control" id="sel-categoria-ent-juridica" name="categoria-ent-juridica" required>
            <option disabled value="" hidden selected> Seleccione una Categoria </option>

            {{#each categorias_entidad_juridica}}
                <option value={{ nombre }}>{{ nombre }}</option>
            {{/each}}
        </select>

        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>

{{/partial}}

{{>layout.hbs}}