{{#partial "contenido"}}
    <div class="container">
    <h1> Usuario: {{usuario.nombre}} </h1>
    <a class="btn btn-primary" href="usuario/logout">Cerrar Sesion</a>

    <h3> Bandeja de Mensajes </h3>

    <table class="table table-stripped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Operacion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Items</th>
            <th scope="col">Total</th>
            <th scope="col">Resultado Validacion</th>
        </tr>
        </thead>

        <tbody>
        {{#each mensajes}}
            <tr>
                <td>{{operacion.id}}</td>
                <td>{{operacion.fecha}}</td>
                <td>{{operacion.proveedor.nombreYApellido}}</td>
                <td>{{operacion.cantidadDeItems}}</td>
                <td>{{operacion.valorTotal}}</td>
                <td>{{resultadoValidacion}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    </div>

{{/partial}}

{{>layout.hbs}}